@model FacilitiesManagement.Models.OrderRequest

<div class="form-group">
    @Html.LabelFor(model => model.RequestedByDomainName, new { @class = "control-label col-md-4" })
    <div class="col-md-6">
        @Html.EditorFor(model => model.RequestedByDomainName)
        @Html.ValidationMessageFor(model => model.RequestedByDomainName)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.RequestedByEmployeeNum, new { @class = "control-label col-md-4" })
    <div class="col-md-6">
        @Html.EditorFor(model => model.RequestedByEmployeeNum)
        @Html.ValidationMessageFor(model => model.RequestedByEmployeeNum)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.RequestedByPhone, new { @class = "control-label col-md-4" })
    <div class="col-md-6">
        @Html.EditorFor(model => model.RequestedByPhone)
        @Html.ValidationMessageFor(model => model.RequestedByPhone)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.RequestedByEmail, new { @class = "control-label col-md-4" })
    <div class="col-md-6">
        @Html.EditorFor(model => model.RequestedByEmail)
        @Html.ValidationMessageFor(model => model.RequestedByEmail)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.ContactPerson, new { @class = "control-label col-md-4" })
    <div class="col-md-6">
        @Html.EditorFor(model => model.ContactPerson)
        @Html.ValidationMessageFor(model => model.ContactPerson)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.ContactPersonEmail, new { @class = "control-label col-md-4" })
    <div class="col-md-6">
        @Html.EditorFor(model => model.ContactPersonEmail)
        @Html.ValidationMessageFor(model => model.ContactPersonEmail)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.ContactPhone, new { @class = "control-label col-md-4" })
    <div class="col-md-6">
        @Html.EditorFor(model => model.ContactPhone)
        @Html.ValidationMessageFor(model => model.ContactPhone)
    </div>
</div>



<div class="form-group">
    @Html.LabelFor(model => model.Comments, new { @class = "control-label col-md-4" })
    <div class="col-md-6">
        @Html.EditorFor(model => model.Comments)
        @Html.ValidationMessageFor(model => model.Comments)
    </div>
</div>