@model FacilitiesManagement.Models.OrderRequest
<div class="form-group">
    @Html.LabelFor(model => model.VendorName, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.VendorName)
        @Html.ValidationMessageFor(model => model.VendorName)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.VendorPhone, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.VendorPhone)
        @Html.ValidationMessageFor(model => model.VendorPhone)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.VendorContact, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.VendorContact)
        @Html.ValidationMessageFor(model => model.VendorContact)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.VendorContactPhone, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.VendorContactPhone)
        @Html.ValidationMessageFor(model => model.VendorContactPhone)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.VendorFax, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.VendorFax)
        @Html.ValidationMessageFor(model => model.VendorFax)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.VendorQuoteNum, new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.VendorQuoteNum)
        @Html.ValidationMessageFor(model => model.VendorQuoteNum)
    </div>
</div>